{
  "name": "api-testing",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "directories": {
    "test": "tests"
  },
  "scripts": {},
  "keywords": [],
  "author": "",
  "license": "ISC",
  "devDependencies": {
    "@playwright/test": "^1.40.1",
    "@types/node": "^20.10.4"
  },
  "dependencies": {
     "@types/uuid": "^9.0.7",
    "dotenv": "^16.4.0",
    "axios": "^1.6.2"
  }
}